<settings xmlns="http://maven.apache.org/POM/4.0.0" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>/usr/share/maven/ref/repository</localRepository>
  <profiles>
    <profile>
      <id>build</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <id>jitpack.io</id>
          <url>https://jitpack.io</url>
        </repository>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>spring-releases</id>
          <name>Spring Releases</name>
          <url>https://repo.spring.io/libs-release</url>
        </repository>
        <repository>
          <id>spring-repo</id>
          <name>Spring Repository</name>
          <url>http://repo.spring.io/release</url>
        </repository>
        <repository>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <id>jcenter</id>
          <url>https://jcenter.bintray.com</url>
        </repository>
        <repository>
          <id>jboss</id>
          <url>https://repository.jboss.org/nexus/content/repositories/releases/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
            <checksumPolicy>warn</checksumPolicy>
          </releases>
        </repository>
        <repository>
          <id>java-net</id>
          <url>https://maven.java.net/content/repositories/releases</url>
        </repository>
      </repositories>
      <pluginRepositories>
      <pluginRepository>
          <id>central</id>
          <url>http://central.maven.org/maven2/</url>
        </pluginRepository>
        <pluginRepository>
          <id>spring-plugins</id>
          <url>http://repo.spring.io/plugins-release/</url>
        </pluginRepository>
        <pluginRepository>
          <id>spring-lib-releases</id>
          <url>https://repo.spring.io/libs-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <id>jitpack.io</id>
          <url>https://jitpack.io</url>
        </pluginRepository>
        <pluginRepository>
          <id>repository.springsource.milestone</id>
          <name>SpringSource Milestone Repository</name>
          <url>https://repo.spring.io/milestone</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>spring-snapshots</id>
          <url>https://repo.spring.io/libs-snapshot</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>
